<div class="col-lg-3 col-md-4 col-sm-6 mx-auto mt-5 mb-3 p-5 bg-light">
  <%= render 'flash' %>

  <h3 class="text-center mb-5">Login</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email' %>
    </div>
    <div class="form-group">
      <%= f.password_field :password, autofocus: true, class: 'form-control', placeholder: 'Password' %>
    </div>
    <button type="submit" class="btn btn-info">Login</button>
  <% end %>
</div>

<div class="text-center">
  No account? <%= link_to "Register", new_user_registration_path, class: "text-center" %>
</div>
