<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Competency Matrix</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class='wrapper'>
      <%= render partial: 'layouts/navbar' %>
      <%= yield %>
    </div>
  </body>
</html>
